h1 {
    color: #EAEAEA;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p {
    color: #DFDFDF
}

body {
    background-color: blanchedalmond;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("/src/img/darkparticle.png");
}

a {
    color: rgb(255, 255, 255);
}

#main {
    height: 90vh;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    align-items: center;
}

.main-child {
    width: 40%;
    background-color: rgba(182, 182, 182, 0.342);
    margin: 20px;
    padding: 10px;
}

.choices {
    background-color: rgba(182, 182, 182, 0.342);
    margin: 20px;
    padding: 10px;
    display: flex;
    order: 999;
    padding: 40px 20px;
    justify-content: space-evenly;
}

a.choice {
    display: inline-block;
    font-size: 20px;
    padding: 1em 2.5em;
    border: 0.2em solid #EAEAEA;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
}

a.choice:hover {
    color: #000000;
    background-color: #EAEAEA;
}
